*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin:0;
}

body{
    background: #293f50;
    color: #648880;
    font: 300 16px/22px "Kufam", Helvetica, Arial, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}
  
.header-nav-container, .foot-container{
    display: flex;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #a9b2b9;
}

.logo{
    border-top: 4px solid #648880;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
}
 .conf-date-and-city{
    margin: 66px 0 22px 0;
    text-align: right;
}
  .header-nav{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

  .nav-flex{
      display: flex; 
}

  ul.nav-flex li{
    margin: 0 10px;
}

.content, .speakers{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    line-height: 44px;
    padding: 22px 100px 66px 100px;
    text-align: center;
}

.content h2{
    font-size: 36px;
    margin-top: 25px;
    color: #648880;
}

.content p {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 22px;
}

.register-btn{
    border:1px solid #fff;
    color:#fff;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    padding: 10px 30px;
}

section.images-in-row{
    background: #fff;
    padding: 66px 0 44px 0;
    margin-left: -29px;
    margin-right: -29.5px;
    display: flex;
    justify-content: center;

}

.img-width{
    width:300px;
    margin:0 15px;
}

.img-width img{
    max-width: 100%;
    border-radius: 5px;
}

.img-width h5{
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.img-width h3{
    font-size: 20px;
    color:#648880;
    margin-bottom: 22px;
    margin-top: 22px;
}

.img-width h3:hover{
    color: #a9b2b9;
}

.img-width p{
    margin-bottom: 22px;
    color: #888;
    text-align: justify;
}

footer{
    color:#648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

small{
    font-weight: 400;
}

.speakers h1{
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 22px;
    color: #648880;
}

.speakers{
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
    margin-left: -29px;
    margin-right: -29.5px;
    margin-top: 15px;
    
}

.speakers p{
    font-size: 21px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 22px;
    color:#888;
}

.speakers_info_container{
    background: #fff;
    margin-left: -29px;
    margin-right: -29.5px;
    padding: 66px 0 44px 0;
}

.speaker-details{
    color: #648880;
}

p a.speaker-details{
    text-decoration: underline;
}

.speaker-info-and-topics{
    display: flex;
    margin: 0 auto;
    width:66%;
}

.speakers-name{
    font-size: 24px;
    line-height: 44px;
    color: #648880;
}

.topics, .about-speaker{
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.pStyle{
    margin-bottom: 22px;
    color:888;
}

.speaker-info{
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding-bottom: 22px;
    text-align: center;
    height: 170px;
}

.speaker-info img{
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
}

.table-container, 
.venue-route, 
.register-container{
    margin-left: -29px;
    margin-right: -29.5px;
    background: #fff;
    padding: 66px 0 44px 0;
}

.table, div.venue, .register-row{
    width: 960px;
    margin: 0 auto;
}

table {
    margin-bottom: 44px;
    width: 100%;
}

table:last-child {
    margin-bottom: 0;
}

th,
td {
    padding-bottom: 22px;
    vertical-align: top;
}

th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
}

td {
    width: 40%;
}

thead {
    line-height: 44px;
}

thead th {
    color: #648880;
    font-size: 24px;
}

tbody th {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
}

tbody td {
    border-top: 1px solid #dfe2e5;
    padding-top: 21px;
}

tbody td:first-of-type {
    padding-right: 15px;
}

tbody td:last-of-type {
    padding-left: 15px;
}

tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
}

table a {
    color: #888;
}

table h4 {
    margin-bottom: 0;
}

.schedule-offset {
    color: #a9b2b9;
}

.venue-theatre, .venue-hotel{
    display: flex;
    justify-content: space-between;
}

.venue-theatre{
    margin-bottom: 66px;
}

.venue-hotel,
.venue-hotel p, 
.venue-theatre p, 
.venue-theatre h2, 
.venue-hotel h2{
    margin-bottom: 22px;
}

.venue-map, .hotel-map{
    width: 60%;
    height: 250px;
}

.register-row{
    display: flex;
    justify-content: space-between;
}

.conference-pass{
    width:60%;
}

.why-attend li{
    list-style: square;
    margin: 0 0 22px 30px;
}

form {
    margin-bottom: 22px;
}
   
.register-group label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}
  
.register-group input,
.register-group select,
.register-group textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 8px 30px;
}

.register-group input,
.register-group textarea {
    width: 100%;
}

.register-group select {
    height: 34px;
    width: 60px;
}

.register-group textarea {
    height: 78px;
}
  
fieldset{
      border:none;
}

.conference-pass h4, .conference-pass h5, .conference-pass p {
    margin-bottom: 22px;
}

.conference-pass h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
}

.conference-pass h2 {
    font-size: 24px;
    line-height: 44px;
}

.conference-pass h4 {
    font-size: 18px;
}  
  
  
.register-btn{
    border:1px solid #fff;
    color:#fff;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    padding: 10px 30px;
} 

.purchase-btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    border: 0;
    background: #648880;
    padding: 11px 30px;
    font-size: 14px; 
    margin-left: 10px; 
}

.purchase-btn:hover{
        background: #77a198;
}
  

@media (max-width: 780px){
    .header-nav-container{
        display: inline;  
    }
    .conf-date-and-city{
        margin: 0 3px;
    }
    .conf-date-and-city{
        margin: 20px 0 10px 0;
        text-align: right;
     }
     .logo{
        font-size: 38px;
        padding: 20px 0 10px 0;
        text-transform: uppercase;
    }

    .content {
        line-height: 30px;
        padding: 12px 50px 33px 50px;
        text-align: center;
}

.content h2{
    font-size: 26px;
    margin-top: 20px;
    color: #648880;
}

.content p {
    font-size: 18px;
    margin-bottom: 18px;
}
ul.nav-flex li{
    margin: 0 5px;
 }

.speaker-info-and-topics{
    display: flex;
    flex-direction: column;
    width:80%;
}


.venue-theatre, .venue-hotel{
    display: flex;
    flex-direction: column;
}

.register-row{
    display: flex;
    flex-direction: column;
}


}